html {
  height: 100%;
    width: 100%;
    }
body{
   background-color: blue;
}

.main {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image */
}
.container {
    position: relative;
    text-align: center;
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto;
}

.btn1 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Place buttons above the image */
}
.btn2 {
    position: absolute;
    top: 50%;
    left: 90%;

    transform: translate(-50%, -50%);
    z-index: 1; /* Place buttons above the image */
}

.main {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* Optional: Add border-radius for a rounded appearance */
}
.cpr{
  
      position: absolute;
      top: 100%;
      left: 50%;

      transform: translate(-50%, -50%);
      z-index: 1; /* Place buttons above the image */
 
}
